opencv-python==4.2.0.32
vispy==0.6.4
moviepy==1.0.2
transforms3d==0.3.1
networkx==2.3
cynetworkx~=2.2rc1.dev20200803132308
scikit-image~=0.17.2

torch~=1.6.0
matplotlib~=3.3.0
numpy~=1.19.1
imageio~=2.9.0
torchvision~=0.7.0
scipy~=1.5.2
PyYAML~=5.3.1
tqdm~=4.48.1
fastapi~=0.60.1